#banner {
    height: auto;
    width: 100%;
}

.navbar {
    height: 15%;
    min-height: 50px;
}

.navbar-brand, nav, .jumbatron{
    background-color: #006080;
}

.footer p {
    margin-bottom: 0px;
}

.navbar-brand, .nav-link, .jumbatron{
    color: white;
}

.nav-item:hover {
    background-color: #00ace6;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
}

.active {
    background-color: #00ace6;
}

.homepage-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    margin-top: 25px;
}
